@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

html, body {
  min-height: 100vh;
}

body {
  background: #ffd99b;
}


.sun {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: -1;
  width:256px;
  height: 256px;
}

.sun__circle {
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.sun__head {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.sun__ray {
  position: absolute;
  z-index: 1;
  right: 110%;
  top: 50%;
}

.sun--draw .sun__ray path {
  animation-name: sign;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.sun__ray--1 {
  margin-top: 0px;
}

.sun__ray--1 path {
  stroke: pink;
  stroke-dasharray: 251px;
  stroke-dashoffset: 251px;
}

.sun__ray--2 {
  margin-top: 100px;
  right: 100%;
}

.sun__ray--2 path {
  stroke: #97d797;
  stroke-dasharray: 265px;
  stroke-dashoffset: 265px;
}


.sun__ray--3 {
  margin-top: 140px;
  right: 80%;
  stroke-dasharray: 273px;
  stroke-dashoffset: 273px;
}

.sun__ray--3 path {
  stroke: #9a99d5;
}

main {
  padding: 128px 16px;
  padding-top: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__image {
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1548340748-6d2b7d7da280?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80');
  background-position: center center;
}

.card {
  padding: 48px 32px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  backdrop-filter: blur(12px);
}

.card__title {
  font-weight: 500;
  font-size: 22px;
}

.card__content {
  margin-top: 8px;
}


.main__title {
  width: 500px;
  margin: 0 auto;
  margin-top: 128px;;
  font-weight: 900;
  font-size: 84px;
  line-height: 100%;
  color: white;
}

.main__content {
  margin-top: 200px;
  padding: 48px 32px;
  background: white;
  width: 500px;
  /* border-radius: 4px; */
  margin-bottom: 50vh;
}

footer {
  padding: 8px;
  text-align: center;
  background: white;
}

/*
** Une pincée de responsive
*/

@media (max-width: 789px) {

  .main__title {
    font-size:32px;
  }
}